
<!DOCTYPE html>
<html lang="">
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Box Game</title>
</head>
<body>
<img src="/images/prizeBanner.png" alt="Banner" class="banner">
<h1>Pick a Box</h1>
<form action="/prizepage" method="post">
    <div>
        <label><input type="radio" name="box" value="0" required> Box 1</label>
        <label><input type="radio" name="box" value="1"> Box 2</label>
        <label><input type="radio" name="box" value="2"> Box 3</label>
        <label><input type="radio" name="box" value="2"> Box 4</label>
        <label><input type="radio" name="box" value="2"> Box 5</label>
        <label><input type="radio" name="box" value="2"> Box 6</label>
        <label><input type="radio" name="box" value="2"> Box 7</label>
    </div>
    <button type="submit">See prize</button>
</form>
<footer>Alexander Nguyen</footer>
</body>
</html>
